img {
    width: 100%;
}

.blog-modal {
    padding-top: 6vw;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 1vw;
    z-index: 1;
    position: fixed;
    overflow: auto;
    background-color: var(--color-black);
    background-color: var(--color-shadow);
}

.blog-content {
    margin: auto;
    padding: 0;
    width: 80%;
    border-radius: 1vw;
    border: 0.1vw solid var(--color-trim);
    position: relative;
    background-color: var(--color-white);
    box-shadow: 0 0.4vw 0.8vw 0 var(--color-shadow),0 0.6vw 2vw 0 var(--color-shadow);
    -webkit-animation-name: modal-animate;
    -webkit-animation-duration: 0.4s;
    animation-name: modal-animate;
    animation-duration: 0.4s
}

@-webkit-keyframes modal-animate {
    from {top:-10vw; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes modal-animate {
    from {top:-10vw; opacity:0}
    to {top:0; opacity:1}
}

.blog-close {
    float: right;
    font-size: 4vw;
    font-weight: bold;
    color: var(--color-white);
    transition: color 0.3s ease-out;
}

.blog-link {
    font-size: 2vw;
}

@media (max-width: 1000px) {
    .blog-modal {
        padding-top: 10vw;
    }

    .blog-content {
        width: 90%;
    }

    .blog-close {
        font-size: 6vw;
    }

    .blog-link {
        font-size: 3vw;
    }
}

@media (max-width: 600px) {
    .blog-modal {
        padding-top: 18vw;
    }

    .blog-content {
        width: 100%;
    }

    .blog-close {
        font-size: 8vw;
    }

    .blog-link {
        font-size: 6vw;
    }
}

.blog-close:hover,
.blog-close:focus {
    color: var(--color-highlight);
    text-decoration: none;
    cursor: pointer;
}

.blog-header {
    padding: 0.2vw 1.6vw;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    background-color: var(--color-block);
    color: var(--color-white);
}

.blog-link
,.blog-body a {
    padding: 0.2vw 1.6vw;
    cursor: pointer;
    text-decoration: underline;
    color: var(--color-highlight);
    transition: color 0.3s ease-out;
}

.blog-link:hover
,.blog-body a:hover {
    color: var(--color-trim);
    text-decoration: none;
}

.blog-body {
    padding: 0.2vw 1.6vw;
}

.modal-hide {
    display: none;
}

.modal-show {
    display: block;
}