@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

:root {
    --color-background: #f0f0f0;
    --color-block: #000000;
    --color-subtle: rgba(222, 63, 83, 0.1);
    --color-highlight: #daa520;
    --color-trim: #daa520;
    --color-shadow: rgba(0, 0, 0, 0.4);

    --color-black: #000000;
    --color-white: #f0f0f0;
    --color-gray: #9aa0a7;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Verdana, sans-serif;
    scroll-behavior: smooth;
    line-height: 1.4;
    font-size: 1.2vw;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 1vw;
}

h1 {
    font-size: 3vw;
}

h2 {
    font-size: 2.5vw;
}

h3 {
    font-size: 2vw;
}

p {
    margin: 0;
    padding: 1vw;
    font-size: 1.5vw;
}

text {
    font-size: 1.5vw;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

@media (max-width: 1000px) {
    h1 {
        font-size: 4vw;
    }

    h2 {
        font-size: 3.75vw;
    }

    h3 {
        font-size: 3vw;
    }

    body,
    p,
    a,
    li,
    text {
        font-size: 2.25vw;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 8vw;
    }

    h2 {
        font-size: 7.5vw;
    }

    h3 {
        font-size: 5vw;
    }

    body,
    p,
    a,
    li,
    text {
        font-size: 4.5vw;
    }
}

.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.nav-list {
    display: flex;
    margin: 0 0 0 1vw;
    padding: 0;
    list-style: none;
}

.nav-list__item {
    margin: 0.5vw;
    padding: 0.5vw;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    background-color: var(--color-block);
    display: flex;
    justify-content: center;
    align-content: center;
    transition: background-color 0.3s ease-out;
}

.nav-list__item:hover {
    background-color: var(--color-highlight);
}

.main-heading {
    margin: 0;
    text-align: left;
}

@media (max-width: 1000px) {
    .nav-list__item {
        padding-top: 1.5vw;
        width: 9vw;
        height: 9vw;
    }
}

@media (max-width: 600px) {
    .nav {
        justify-content: center;
    }

    .nav-list {
        margin: 0 0.1vw;
    }

    .nav-list__item {
        margin: 0.5vw 4vw;
        padding-top: 3.5vw;
        width: 17vw;
        height: 17vw;
    }

    .main-heading {
        margin-top: 12vw;
        text-align: center;
    }
}

.nav-list a {
    display: block;
    padding: 1vw;
    text-decoration: none;
    color: var(--color-white);
}

.contact-details {
    display: inline-block;
    padding: 0.5vw 1vw;
    border-radius: 0.2vw;
    transition: color 0.3s ease-out;
}

.contact-details:hover {
    color: var(--color-highlight);
}

footer {
    display: flex;
    justify-content: space-evenly;
    padding: 1vw;
    background-color: var(--color-block);
    box-shadow: 0 0 0.4vw var(--color-trim);
}

footer > p {
    margin: 0.2vw;
    padding: 0;
    color: var(--color-white);
}

footer i {
    vertical-align: middle;
}

@media (max-width: 600px) {
    footer {
        flex-direction: column;
        text-align: center;
    }
}