.landing {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.landing__circles {
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    display: none;
}

.landing__circles li{
    width: 2vw;
    height: 2vw;
    bottom: -12vw;
    border-radius: 50%;
    position: absolute;
    display: block;
    list-style: none;
    background: var(--color-block);
    animation: circle-float 25s linear infinite;
    -webkit-animation: circle-float 25s linear infinite;
}

@-webkit-keyframes circle-float {
    0%{
        opacity: 0.2;
        -webkit-transform: translateY(-150vh);
    }

    100%{
        opacity: 0;
        -webkit-transform: translateY(0);
    }
}

@keyframes circle-float {
    0%{
        opacity: 0.2;
        transform: translateY(-150vh);
    }

    100%{
        opacity: 0;
        transform: translateY(0);
    }
}

.landing__circles li:nth-child(1){
    width: 8vw;
    height: 8vw;
    left: 25%;
    animation-delay: -12s;
}


.landing__circles li:nth-child(2){
    width: 14vw;
    height: 14vw;
    left: 10%;
    animation-delay: -10s;
    animation-duration: 12s;
}

.landing__circles li:nth-child(3){
    width: 2vw;
    height: 2vw;
    left: 70%;
    animation-delay: -8s;
}

.landing__circles li:nth-child(4){
    width: 6vw;
    height: 6vw;
    left: 15%;
    animation-delay: -12s;
    animation-duration: 18s;
}

.landing__circles li:nth-child(5){
    width: 2vw;
    height: 2vw;
    left: 65%;
    animation-delay: -12s;
}

.landing__circles li:nth-child(6){
    width: 11vw;
    height: 11vw;
    left: 75%;
    animation-delay: -9s;
}

.landing__circles li:nth-child(7){
    width: 15vw;
    height: 15vw;
    left: 60%;
    animation-delay: -5s;
}

.landing__circles li:nth-child(8){
    width: 2.5vw;
    height: 2.5vw;
    left: 50%;
    animation-delay: 3s;
    animation-duration: 45s;
}

.landing__circles li:nth-child(9){
    width: 1.5vw;
    height: 1.5vw;
    left: 20%;
    animation-delay: -10s;
    animation-duration: 35s;
}

.landing__circles li:nth-child(10){
    width: 1.5vw;
    height: 1.5vw;
    left: 85%;
    animation-delay: -12s;
    animation-duration: 11s;
}

@media (min-width: 600px) {
    .landing__circles {
        display: block;
    }
}

.welcome-section {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--color-block);
    clip-path: none;
}

.welcome-section__heading {
    margin: 1rem 4rem;
    padding: 0;
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--color-white);
}

.welcome-section__descriptors {
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.welcome-section__descriptors > li {
    margin: 0 1rem;
    padding: 0;
    font-weight: 200;
    font-style: italic;
    text-align: center;
    color: var(--color-white);
    list-style: none;
    display: inline-block;
}

@media (min-width: 1000px) {
    .welcome-section__descriptors {
        margin: 0 2rem;
    }
}

@media (min-width: 600px) {
    .landing {
        flex-direction: row;
    }

    .welcome-section {
        width: 56%;
        clip-path: polygon(0 100vh, 35vw 100vh, 55vw 0, 0 0);
        align-items: flex-start;
    }
}

.projects-section {
    margin: 0;
    padding: 0.6rem 0.1rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: var(--color-background);
}

.projects-section__heading {
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
    color: var(--color-black);
}

.projects-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
    height: auto;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.project-grid__tile {
    margin: 1vw;
    width: 100%;
}

@media (min-width: 600px) {
    .projects-section {
        width: 44%;
        height: 100vh;
        padding: 2rem 0 0 0;
    }

    .projects-section__heading {
        margin: 3rem auto 0 auto;
    }

    .projects-grid {
        height: 78vh;
        flex-direction: column;
        align-content: space-around;
    }

    .project-grid__tile {
        width: 30%;
        position: relative;
    }
}

.project {
    margin: 1vw 0 0 0;
    height: 26vw;
    width: 26vw;
    border-radius: 50%;
    background-color: var(--color-block);
    box-shadow: 0.1vw 0.1vw 0.2vw rgba(0, 0, 0, 0.5);
}

.project-image {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    clip-path: circle(12vw at center);
}

.project-image__overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: 0.3s ease;
    background-color: var(--color-highlight);
    clip-path: circle(12vw at center);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.project-image__overlay:hover {
    opacity: 1;
}

.project-title {
    text-align: center;
    font-size: 0.8rem;
    color: var(--color-white);
    cursor: pointer;
}

@media (min-width: 600px) {
    .project {
        height: 18vw;
        width: 18vw;
    }

    .project-image {
        clip-path: circle(8vw at center);
    }

    .project-image__overlay {
        clip-path: circle(8vw at center);
    }
}

@media (min-width: 1000px) {
    .project {
        height: 12vw;
        width: 12vw;
    }

    .project-image {
        clip-path: circle(5.5vw at center);
    }

    .project-image__overlay {
        clip-path: circle(5.5vw at center);
    }
}

.btn {
    padding: 2.2rem 0.2rem;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background-color: var(--color-block);
    transition: background-color 0.3s ease-out;
    text-align: center;
}

.btn:hover {
    background-color: var(--color-highlight);
}

.btn-show-all {
    margin: 0 41vw;
    position: absolute;
    right: auto;
    top: auto;
}

.btn-show-all:hover > i {
    transform: translateX(0.2vw);
}

.btn-show-all > i {
    margin-left: 0.1rem;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
}

@media (min-width: 600px) {
    .btn-show-all {
        margin: 0;
        right: 2rem;
        top: 82%;
    }
}

.about-me {
    margin: 24vw 0 0.2vw 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center; 
}

.about-section,
.skills-section {
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
    background-color: var(--color-background);
    color: var(--color-black);
}

.about-section__heading,
.skills-section__heading {
    text-align: center;
}

@media (min-width: 600px) {
    .about-me {
        margin: 0;
        flex-direction: row;
    }

    .about-section,
    .skills-section {
        margin: 0 0 0.1rem 0;
        width: 50%;
    }

    .about-section__heading,
    .skills-section__heading {
        text-align: left;
    }
}

.about-section__contact {
    margin: 0;
    padding: 0 0.5rem 0 1rem;
    list-style: none;
}

.about-section__contact a {
    color: var(--color-black);
    transition: color 0.3s ease-out;
}

.about-section__contact a:hover {
    color: var(--color-trim);
}

.node circle {
    cursor: pointer;
    stroke: var(--color-block);
    stroke-width: 0.15vw;
}

.node text {
    font-size: 1rem;
    pointer-events: none;
    text-anchor: middle;
    transform: translate(0vw, 1.2vw);
}

line.link {
    fill: none;
    stroke: var(--color-block);
    stroke-width: 0.15vw;
}

.skills-section__paragraph {
    padding: 0 0.5rem;
}
