---
import { MdEngineering } from "react-icons/md";

import "./projects.css";
---

<div id="projects" class="gallery-container">
  <span class="gallery-heading">
    <span class="icon icon-md">
      <MdEngineering />
    </span>
    <h2>Examples of projects</h2>
  </span>
  <div class="gallery-row">
    <div class="gallery-column">
      <figure class="gallery-card">
        <figcaption>Home Management PWA</figcaption>
        <img src="/assets/projects/homeapp.jpg" />
      </figure>
      <figure class="gallery-card">
        <figcaption>Tools for Adventurers</figcaption>
        <img src="/assets/projects/kitlist.jpg" />
      </figure>
    </div>
    <div class="gallery-column">
      <figure class="gallery-card">
        <figcaption>Twitter Bot</figcaption>
        <img src="/assets/projects/moviegenerator.jpg" />
      </figure>
      <figure class="gallery-card">
        <figcaption>Cashless Card System</figcaption>
        <img src="/assets/projects/cashlesscards.jpg" />
      </figure>
      <figure class="gallery-card">
        <figcaption>IT Helpdesk Simulator</figcaption>
        <img src="/assets/projects/helpdesksimulator.jpg" />
      </figure>
    </div>
    <div class="gallery-column">
      <figure class="gallery-card">
        <figcaption>Hygge App</figcaption>
        <img src="/assets/projects/hygge.jpg" />
      </figure>
      <figure class="gallery-card">
        <figcaption>E-Commerce Micro-Services App</figcaption>
        <img src="/assets/projects/sellsellsell.jpg" />
      </figure>
    </div>
    <div class="gallery-column">
      <figure class="gallery-card">
        <figcaption>Activities Club Website</figcaption>
        <img src="/assets/projects/activitiesclub.jpg" />
      </figure>
      <figure class="gallery-card">
        <figcaption>Word Analysis Tool</figcaption>
        <img src="/assets/projects/verbosityanalysis.jpg" />
      </figure>
      <figure class="gallery-card">
        <figcaption>Children's Mobile Game</figcaption>
        <img src="/assets/projects/albieadventures.jpg" />
      </figure>
    </div>
  </div>
</div>
