@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

:root {
    --color-background: #f0f0f0;
    --color-block: #de3f53;
    --color-highlight: #45567d;
    --color-trim: #daa520;

    --color-black: #000000;
    --color-white: #f0f0f0;
    --color-gray: #9aa0a7;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Verdana, sans-serif;
    scroll-behavior: smooth;
    line-height: 1.4;
    font-size: 1.2vw;
}

h1,
h2 {
    margin: 0;
    padding: 1vw;
    font-size: 3vw;
}

p {
    margin: 0;
    padding: 1vw;
    font-size: 1.5vw;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.nav-list {
    display: flex;
    margin: 0 0 0 1vw;
    padding: 0;
    list-style: none;
}

.nav-list__item {
    margin: 0.5vw;
    padding: 0.5vw;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    background-color: var(--color-block);
    display: flex;
    justify-content: center;
    align-content: center;
    transition: background-color 0.3s ease-out;
}

.nav-list__item:hover {
    background-color: var(--color-highlight);
}

@media (max-width: 600px) {
    .nav {
        justify-content: center;
    }

    .nav-list {
        margin: 0 0.1vw;
    }

    .nav-list__item {
        margin: 0.5vw 4vw;
    }
}

.nav-list a {
    display: block;
    padding: 1vw;
    text-decoration: none;
    color: var(--color-white);
}

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--color-background);
}

.welcome-section__heading {
    margin: 1.5vh 0;
    padding: 0;
    text-align: center;
    font-weight: 700;
    font-size: 5vw;
    color: var(--color-black);
}

@-webkit-keyframes floating-words {
    from {
        -webkit-transform: rotate(0deg) translate3d(0.75vh, 0, 0) rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg) translate3d(0.75vh, 0, 0) rotate(-360deg);
    }
}
@keyframes floating-words {
    from {
        transform: rotate(0deg) translate3d(0.75vh, 0, 0) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translate3d(0.75vh, 0, 0) rotate(-360deg);
    }
}

.welcome-section__descriptors {
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.welcome-section__descriptors > li {
    margin: 0 2vw;
    padding: 0;
    font-size: 2vw;
    font-weight: 200;
    font-style: italic;
    color: var(--color-block);
    list-style: none;
    display: inline-block;
}

.welcome-section__descriptors > li:nth-child(1) {
    -webkit-animation: floating-words 3s infinite linear;
    animation: floating-words 3s infinite linear;
}

.welcome-section__descriptors > li:nth-child(2) {
    -webkit-animation: floating-words 4s infinite linear;
    animation: floating-words 4s infinite linear reverse;
    animation-delay: -1s;
}

.welcome-section__descriptors > li:nth-child(3) {
    -webkit-animation: floating-words 5s infinite linear;
    animation: floating-words 5s infinite linear;
    animation-delay: -3s;
}

.welcome-section__circles {
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.welcome-section__circles li{
    width: 2vw;
    height: 2vw;
    bottom: -12vw;
    border-radius: 50%;
    position: absolute;
    display: block;
    list-style: none;
    background: var(--color-block);
    animation: circle-float 25s linear infinite;
    -webkit-animation: circle-float 25s linear infinite;
}

@-webkit-keyframes circle-float {
    0%{
        opacity: 0.2;
        -webkit-transform: translateY(-130vh);
    }

    100%{
        opacity: 0;
        -webkit-transform: translateY(0);
    }
}

@keyframes circle-float {
    0%{
        opacity: 0.2;
        transform: translateY(-130vh);
    }

    100%{
        opacity: 0;
        transform: translateY(0);
    }
}

.welcome-section__circles li:nth-child(1){
    width: 8vw;
    height: 8vw;
    left: 25%;
    animation-delay: -12s;
}


.welcome-section__circles li:nth-child(2){
    width: 2vw;
    height: 2vw;
    left: 10%;
    animation-delay: -10s;
    animation-duration: 12s;
}

.welcome-section__circles li:nth-child(3){
    width: 2vw;
    height: 2vw;
    left: 70%;
    animation-delay: -8s;
}

.welcome-section__circles li:nth-child(4){
    width: 6vw;
    height: 6vw;
    left: 15%;
    animation-delay: -12s;
    animation-duration: 18s;
}

.welcome-section__circles li:nth-child(5){
    width: 2vw;
    height: 2vw;
    left: 65%;
    animation-delay: -12s;
}

.welcome-section__circles li:nth-child(6){
    width: 11vw;
    height: 11vw;
    left: 75%;
    animation-delay: -9s;
}

.welcome-section__circles li:nth-child(7){
    width: 15vw;
    height: 15vw;
    left: 35%;
    animation-delay: -5s;
}

.welcome-section__circles li:nth-child(8){
    width: 2.5vw;
    height: 2.5vw;
    left: 50%;
    animation-delay: 3s;
    animation-duration: 45s;
}

.welcome-section__circles li:nth-child(9){
    width: 1.5vw;
    height: 1.5vw;
    left: 20%;
    animation-delay: -10s;
    animation-duration: 35s;
}

.welcome-section__circles li:nth-child(10){
    width: 1.5vw;
    height: 1.5vw;
    left: 85%;
    animation-delay: -12s;
    animation-duration: 11s;
}

.contact-details {
    display: inline-block;
    padding: 0.5vw 1vw;
    border-radius: 0.2vw;
    transition: color 0.3s ease-out;
}

.contact-details:hover {
    color: var(--color-highlight);
}

.about-me {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center; 
}

.about-section,
.skills-section {
    margin: 0;
    padding: 1vw;
    width: 50%;
    background-color: var(--color-background);
    color: var(--color-black);
}

@media (max-width: 600px) {
    .about-me {
        flex-direction: column;
    }

    .about-section,
    .skills-section {
        width: 100%;
    }
}

.about-section__contact {
    margin: 0;
    padding: 0 1vw 0 2vw;
    list-style: none;
}

.about-section__contact a {
    color: var(--color-black);
    transition: color 0.3s ease-out;
}

.about-section__contact a:hover {
    color: var(--color-trim);
}

.node circle {
    cursor: pointer;
    stroke: var(--color-block);
    stroke-width: 0.15vw;
}

.node text {
    font-size: 1vw;
    pointer-events: none;
    text-anchor: middle;
    transform: translate(0vw, 1.2vw);
}

line.link {
    fill: none;
    stroke: var(--color-block);
    stroke-width: 0.15vw;
}

.skills-section__paragraph {
    padding: 0 1vw;
}

.projects-section {
    padding: 1vw 0.1vw 4vw 0.1vw;
    text-align: center;
    background-color: var(--color-background);
}

.projects-section__heading {
    color: var(--color-black);
    max-width: 25%;
    margin: 0 auto 2.5vw auto;
}

.projects-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 2vw;
}

.project-grid__tile {
    width: 30%;
    position: relative;
}

@media (max-width: 600px) {
    .projects-section {
        padding: 0.6vw 0.1vw;
    }

    .projects-grid {
        align-content: space-between;
    }

    .project-grid__tile {
        margin: 1vw;
        width: 100%;
    }
}

.project {
    background-color: var(--color-block);
    box-shadow: 0.1vw 0.1vw 0.2vw rgba(0, 0, 0, 0.5);
    height: 20vw;
    width: 20vw;
    border-radius: 50%;
}

.project-image {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    clip-path: circle(9vw at center);
}

.project-image__overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: 0.3s ease;
    background-color: var(--color-highlight);
    clip-path: circle(9vw at center);
}

.project-image__overlay:hover {
    opacity: 1;
}

.project-title {
    padding: 9vw 0.5vw;
}

.btn {
    display: inline-block;
    padding: 2.5vw 0.5vw;
    border-radius: 50%;
    background-color: var(--color-block);
    transition: background-color 0.3s ease-out;
}

.btn:hover {
    background-color: var(--color-highlight);
}

.btn-show-all:hover > i {
    transform: translateX(2px);
}

.btn-show-all > i {
    margin-left: 0.1vw;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
}

footer {
    display: flex;
    justify-content: space-evenly;
    padding: 1vw;
    background-color: var(--color-block);
    box-shadow: 0 0 0.4vw var(--color-trim);
}

footer > p {
    margin: 0.2vw;
    padding: 0;
    color: var(--color-white);
}

footer i {
    vertical-align: middle;
}

@media (max-width: 600px) {
    footer {
        flex-direction: column;
        text-align: center;
    }
}