---
import Orb from "./orb.jsx";
---

<div id="about" class="container about-container">
  <div>
    <h2>More experience than you can shake a stick at</h2>
    <p>
      I've had the privilege to work in a range of companies in varied
      industries. I've created outstanding software aimed at wildly different
      audiences, from a single user to millions of concurrent users. Throughout
      the numerous projects I've worked on, I've gained experience in designing
      and implementing a wide variety of different architectures. I embrace
      building modular components that are reusable, extensible, and easy to
      test.
    </p>
    <p>
      Often the most difficult question to answer is "What do you want to see
      and do?". So throughout development I work closely with users to figure
      out what they need, demonstrating current work and eliciting feedback
      regularly.
    </p>
  </div>
  <Orb />
</div>

<style>
  .about-container {
    margin: auto;
    padding: 50px;
    min-height: 100vh;
    width: 70%;
    overflow-x: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    backdrop-filter: blur(20px);
  }

  @media (max-width: 820px) {
    .about-container {
      padding: 15px;
      width: 100%;
    }
  }

  @media (max-width: 500px) {
    .about-container {
      padding: 20px;
    }
  }

  @media (max-width: 400px) {
    .about-container {
      padding: 30px 10px 0;
    }
  }
</style>
