.notFound {
  padding: 1rem;
  width: 90%;
  position: absolute;
  top: 40vh;
  left: 5%;
  z-index: 100;
  background-color: #f2f5ff;
  background-color: var(--white);
  border-radius: 0.4rem;
}

.strapLine {
  width: 100%;
  position: absolute;
  top: 20vh;
  color: #f2f5ff;
  color: var(--white);
  font-family: "Titillium Web", "Open Sans", sans-serif;
  font-size: 2rem;
  text-align: center;
}

@media (min-width: 750px) {
  .notFound {
    width: 60%;
    left: 20%;
  }

  .strapLine {
    font-size: 3rem;
  }
}
