.hero-primary,
.hero-secondary {
  margin-left: 1rem;
  font-size: 2rem;
  color: white;
}

.hero-primary h1,
.hero-primary h3 {
  margin: 0.1rem;
  margin-top: 0;
  color: inherit;
}

.hero-primary p,
.hero-secondary p {
  color: inherit;
  width: 100%;
}

@media (min-width: 768px) {
  .hero-primary {
    position: absolute;
    top: 10%;
    left: 10%;
  }

  .hero-primary p {
    width: 50%;
    font-size: 1.5rem;
  }

  .hero-secondary {
    width: 90%;
    position: absolute;
    bottom: 5%;
    left: 0;
  }

  .hero-secondary p {
    text-align: right;
  }
}

.container {
  margin: 0.3rem auto;
  padding: 0.6rem 2.4rem;
  width: 75%;
  border-radius: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  .container {
    width: 100%;
  }
}

.footer-container {
  margin-bottom: 0;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container.footer-container .footer-caption {
  margin: 0 auto;
  text-align: center;
}

.container.footer-container a:hover {
  background-color: rgba(0, 0, 0, 0.068);
}
