.hero-primary,
.hero-secondary {
  margin-left: 1rem;
  font-size: 2rem;
  color: white;
}

.hero-primary h1,
.hero-primary h3 {
  margin: 0.1rem;
  margin-top: 0;
  color: inherit;
}

.hero-primary p,
.hero-secondary p {
  color: inherit;
  width: 100%;
}

@media (min-width: 768px) {
  .hero-primary {
    position: absolute;
    top: 10%;
    left: 10%;
  }

  .hero-primary p {
    width: 50%;
    font-size: 1.5rem;
  }

  .hero-secondary {
    width: 90%;
    position: absolute;
    bottom: 5%;
    left: 0;
  }

  .hero-secondary p {
    text-align: right;
  }
}

.icon {
  margin: 0 1rem;
  max-width: 3rem;
  border-radius: 0.2rem;
  transition: all ease 1s;
}

.icon::before {
  background-color: transparent;
}

.icon-md {
  max-width: clamp(2rem, 2.5rem, 5rem);
}

.icon-sm {
  max-width: clamp(1rem, 2rem, 3rem);
}

.container {
  padding: 8rem 1rem;
}

.container-grey {
  background-color: var(--grey-light);
}

.container-cols {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.col-50 {
  width: 100%;
}

@media (min-width: 768px) {
  .container-cols {
    flex-direction: row;
  }

  .col-50 {
    width: 50%;
  }
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.card-row {
  margin-top: 64px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  margin: 0.2rem;
  padding: 0.1rem 1rem;
  min-width: 20rem;
  height: 10rem;
  background-color: var(--white);
  border-radius: 0.25rem;
  box-shadow: 0 0.1rem 0.3rem 0 rgb(0 0 0 / 16%),
    0 0.1rem 0.6rem 0 rgb(0 0 0 / 12%);
}

.text-big {
  font-size: 1.2rem;
}

.bar-outer {
  margin: 0.25rem;
  background-color: var(--grey-light);
}

.bar-inner {
  padding: 0.25rem;
  background-color: var(--primary);
  color: var(--white);
}

.footer {
  padding: 4rem;
  background-color: var(--primary);
  text-align: center;
}

.button {
  padding: 0.75rem 1rem;
  background-color: var(--white);
  border-radius: 0.25rem;
  color: var(--primary);
  text-decoration: none;
  transition: all ease 0.3s;
}

.button:hover {
  background-color: var(--primary);
  color: var(--white);
}
