---
import BaseHead from "../components/BaseHead.astro";
import Hero from "../components/Hero.astro";
import Navigation from "../components/Navigation.astro";

const title = "Oops!";
const description = "You're lost! Let me help you get back on track.";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead {title} {description} />
    <style>
      .hero-404 {
        margin-left: 1rem;
        font-size: 2rem;
        color: white;
      }

      @media (min-width: 768px) {
        .hero-404 {
          position: absolute;
          top: 10%;
          left: 10%;
        }
      }

      .hero-404 h1,
      .hero-404 p {
        margin: 0.1rem;
        color: inherit;
      }

      .hero-404 h1 {
        margin-top: 0;
      }

      .hero-404 p {
        margin-bottom: 1rem;
      }

      .hero-404 a {
        margin: 1rem 0;
        padding: 0.25rem 0.5rem;
        width: 5rem;
        border: 0.1rem solid white;
        border-radius: 0.25rem;
        color: white;
        text-decoration: none;
        text-align: center;
        transition: all ease 0.3s;
      }

      .hero-404 a:hover {
        background-color: var(--highlight);
        color: black;
      }
    </style>
  </head>

  <body>
    <Hero>
      <Navigation />
      <div class="hero-404">
        <h1>Oops!</h1>
        <p>The page you're looking for isn't here or doesn't exist.</p>
        <a href="/">Go back to the homepage</a>
      </div>
    </Hero>
  </body>
</html>
