---
import BaseHead from "../components/BaseHead.astro";
import Hero from "../components/Hero.astro";
import Navigation from "../components/Navigation.astro";
import { Scalable } from "../components/home/Scalable.jsx";

const title = "Zak Warren";
const description =
  "Zak Warren, Software Engineer Extraordinaire, creates amazing applications.";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead {title} {description} />
    <link rel="stylesheet" href={Astro.resolve("../styles/home.css")} />
  </head>

  <body>
    <Hero>
      <Navigation />
      <div class="hero-primary">
        <h1>Software Engineer Extraordinaire</h1>
        <h3>Zak Warren</h3>
      </div>
      <div class="hero-secondary">
        <p>Create smarter.</p>
      </div>
    </Hero>
    <section class="row">
      <div>
        <h2>More experience than you can shake a stick at</h2>
        <p>
          I've had the privilege to work in a range of companies in varied
          industries. I've created quality software aimed at wildly different
          audiences, from a single user to millions of concurrent users. This is
          why I create software that is scalable, secure, and robust.
        </p>
        <p>I can help you stand out in a sea of ordinary.</p>
      </div>
      <div>
        <Scalable client:visible />
      </div>
    </section>
  </body>
</html>
