---
import BaseHead from "../components/BaseHead.astro";
import Hero from "../components/Hero.astro";
import Navigation from "../components/Navigation.astro";
import Scalable from "../components/home/Scalable.astro";
import Leadership from "../components/home/Leadership.astro";

const title = "Zak Warren";
const description =
  "Zak Warren, Software Engineer Extraordinaire, creates amazing applications.";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead {title} {description} />
    <link rel="stylesheet" href={Astro.resolve("../styles/home.css")} />
  </head>

  <body>
    <Hero>
      <Navigation />
      <div class="hero-primary">
        <h1>Software Engineer Extraordinaire</h1>
        <h3>Zak Warren</h3>
        <p>I create smarter software that makes people's lives better.</p>
      </div>
      <div class="hero-secondary">
        <p>Stand out in a sea of ordinary.</p>
      </div>
    </Hero>
    <section class="row scale-section">
      <Scalable />
    </section>
    <section class="row">
      <Leadership />
    </section>
    <section class="row">
      <div>
        <h2>Mentoring and coaching</h2>
      </div>
    </section>
    <section class="row">
      <div>
        <h2>Skills</h2>
        <!-- <Skills /> -->
        <p>
          I'm a highly skilled and experienced full stack software developer.
          The chart above shows my main skills but I'm a quick and efficient
          learner, and a firm believer in using the best tool for the job.
          During my career I've made use of a variety of other technologies,
          based on business need, project requirements, what my colleagues have
          skills in, and what is available at the time. A few examples of these
          include:
        </p>
        <ul>
          <li>Linux Servers and Bash</li>
          <li>Python</li>
          <li>Powershell</li>
          <li>SQL Server Reporting Services (SSRS)</li>
          <li>WebFOCUS</li>
        </ul>
      </div>
    </section>
  </body>
</html>
