---
import { BsMouse } from "react-icons/bs";

import BaseHead from "../components/BaseHead.astro";
import Hero from "../components/Hero.astro";
import Navbar from "../components/home/nav/nav.jsx";
import ScrollDown from "../components/ScrollDown.astro";
import About from "../components/home/about/about.astro";
import Leadership from "../components/home/leadership/leadership.jsx";
import Projects from "../components/home/projects/projects.astro";

const title = "Zak Warren";
const description =
  "Zak Warren, Software Engineer Extraordinaire, creates amazing applications.";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead {title} {description} />
    <style>
      @import "../styles/home.css";
    </style>
  </head>
  <body id="home">
    <Hero>
      <div class="hero-primary">
        <h1>Software Engineer Extraordinaire</h1>
        <h3>Zak Warren</h3>
        <p>I create smarter software that makes people's lives better.</p>
      </div>
      <ScrollDown href="#footer" />
    </Hero>
    <Navbar />
    <About />
    <Leadership />
    <Projects />
    <div id="footer" class="container footer-container">
      <h5 class="footer-caption">Made with ❤</h5>
      <a href="#home">
        <BsMouse /> - scroll up -
      </a>
    </div>
  </body>
</html>
