---
import BaseHead from "../components/BaseHead.astro";
import Hero from "../components/Hero.astro";
import Navigation from "../components/Navigation.astro";
import Scalable from "../components/home/Scalable.astro";
import Leadership from "../components/home/Leadership.astro";
import Mentoring from "../components/home/Mentoring.astro";
import Skills from "../components/home/Skills.astro";

const title = "Zak Warren";
const description =
  "Zak Warren, Software Engineer Extraordinaire, creates amazing applications.";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead {title} {description} />
    <link rel="stylesheet" href={Astro.resolve("../styles/home.css")} />
  </head>

  <body>
    <Hero>
      <Navigation />
      <div class="hero-primary">
        <h1>Software Engineer Extraordinaire</h1>
        <h3>Zak Warren</h3>
        <p>I create smarter software that makes people's lives better.</p>
      </div>
      <div class="hero-secondary">
        <p>Stand out in a sea of ordinary.</p>
      </div>
    </Hero>
    <section class="row scale-section">
      <Scalable />
    </section>
    <section class="row leader-section">
      <Leadership />
    </section>
    <section class="row mentor-section">
      <Mentoring />
    </section>
    <section class="row skills-section">
      <Skills />
    </section>
  </body>
</html>
