---
import DocumentHead from "~/components/doc-head.astro"
import Skills from "~/components/skills.astro";
import Footer from "~/components/footer.astro";
import Header from "~/components/header.astro";
import Showcase from "~/components/showcase.astro";
import Splash from "~/components/splash.astro";
---

<!DOCTYPE html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <DocumentHead />
  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <Header />
    <Splash />
    <div class="space-y-24 px-8 py-32">
      <Skills />
      <Showcase />
    </div>
    <Footer />
  </body>
</html>
