@import url(https://fonts.googleapis.com/css2?family=Open+Sans&family=Titillium+Web&display=swap);
:root {
  --theme: #de3f53;
  --theme2: #dfb2f4;
  --theme3: #f5e960;
  --theme4: #55d6c2;

  --white: #f2f5ff;
  --black: #534d41;

  --theme-light: #ea8592;
  --theme-dark: #7a1522;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", Tahoma, Geneva, Verdana, sans-serif;
  color: #534d41;
  color: var(--black);
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #de3f53;
  background-color: var(--theme);
  border-radius: 0.2rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7a1522;
  background-color: var(--theme-dark);
}

.canvas__19I2e {
  margin: auto;
  height: 100vh;
  width: 100%;
  position: relative;
}

.world__1bZaO {
  margin: auto;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

.stars__3ZlbV,
.twinkling__33AkO {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
}

.stars__3ZlbV {
  z-index: 0;
  background: #000 url("/assets/images/stars.png") repeat top center;
}

.twinkling__33AkO {
  z-index: 1;
  background: transparent url("/assets/images/twinkling.png") repeat top center;
  animation: move-twink-back__2FAmH 200s linear infinite;
}

@keyframes move-twink-back__2FAmH {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

.moonbox__1N4re {
  margin: auto;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 10vh;
  left: 0;
  z-index: 11;
}

.moon__39ReL {
  position: absolute;
  top: -100px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.moon__39ReL div {
  margin: 20px;
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 50%;
  -ms-flex: 0%;
      flex: 0%;
  transition: all 0.5s;
}

.moon2__32tDY {
  position: absolute;
  top: -100px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.moon2__32tDY div {
  margin: 20px;
  width: 50px;
  height: 50px;
  position: absolute;
  opacity: 0.5;
  background-color: #ffffff00;
  border-radius: 50%;
  -ms-flex: 0%;
      flex: 0%;
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  transition: all 0.5s;
}

div.ms1__2qsDj {
  width: 1px;
  height: 1px;
}
div.ms2__GI2_f {
  width: 25px;
  height: 25px;
}
div.ms3__2zjYE {
  width: 40px;
  height: 40px;
}
div.ms4__3fp4c {
  width: 55px;
  height: 55px;
}
div.ms5__3W4SH {
  width: 85px;
  height: 85px;
}
div.ms6__1N04K {
  width: 30px;
  height: 30px;
}
div.ms7__w4D3s {
  width: 5px;
  height: 5px;
}
div.ms8__1tkaU {
  width: 10px;
  height: 10px;
}

.clouds__1ixU6 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  display: block;
  background: transparent url("/assets/images/clouds.png") repeat top center;
  animation: move-clouds-back__3kOMo 200s linear infinite;
}

@keyframes move-clouds-back__3kOMo {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

.mountains__3WAZq {
  position: absolute;
  top: 50vh;
  z-index: 20;
}

.menu__3v6b8 {
  position: fixed;
  top: 10vh;
  left: 20vw;
  z-index: 200;
}

@media (min-width: 750px) {
  .menu__3v6b8 {
    left: 10vw;
  }
}

.menuToggler__1Ijt6 {
  margin: auto;
  width: 8vh;
  height: 8vh;
  min-width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  display: block;
  cursor: pointer;
}

.menuToggler__1Ijt6 + label {
  margin: auto;
  width: 8vh;
  height: 8vh;
  position: absolute;
  bottom: -1rem;
  left: -1rem;
  z-index: 1;
  background-color: #f2f5ff;
  background-color: var(--white);
  background: url("/assets/icons/android-icon-192x192.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  display: block;
  transition: all 0.5s;
}

.menuToggler__1Ijt6:checked + label {
  background-color: #f2f5ff;
  background-color: var(--white);
}

.menuToggler__1Ijt6:hover + label {
  background-color: #ea8592;
  background-color: var(--theme-light);
}

.menuToggler__1Ijt6:checked ~ ul .menuItem__b--UG {
  opacity: 1;
}
.menuToggler__1Ijt6:checked ~ ul .menuItem__b--UG:nth-child(1) {
  -ms-transform: rotate(0deg) translate(-110px);
      transform: rotate(0deg) translate(-110px);
}
.menuToggler__1Ijt6:checked ~ ul .menuItem__b--UG:nth-child(2) {
  -ms-transform: rotate(60deg) translateX(-110px);
      transform: rotate(60deg) translateX(-110px);
}
.menuToggler__1Ijt6:checked ~ ul .menuItem__b--UG:nth-child(3) {
  -ms-transform: rotate(120deg) translateX(-110px);
      transform: rotate(120deg) translateX(-110px);
}
.menuToggler__1Ijt6:checked ~ ul .menuItem__b--UG:nth-child(4) {
  -ms-transform: rotate(180deg) translateX(-110px);
      transform: rotate(180deg) translateX(-110px);
}
.menuToggler__1Ijt6:checked ~ ul .menuItem__b--UG:nth-child(5) {
  -ms-transform: rotate(240deg) translateX(-110px);
      transform: rotate(240deg) translateX(-110px);
}
.menuToggler__1Ijt6:checked ~ ul .menuItem__b--UG:nth-child(6) {
  -ms-transform: rotate(300deg) translateX(-110px);
      transform: rotate(300deg) translateX(-110px);
}
.menuToggler__1Ijt6:checked ~ ul .menuItem__b--UG a {
  pointer-events: auto;
}

.menuItem__b--UG:nth-child(1) a {
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
}
.menuItem__b--UG:nth-child(2) a {
  -ms-transform: rotate(-60deg);
      transform: rotate(-60deg);
}
.menuItem__b--UG:nth-child(3) a {
  -ms-transform: rotate(-120deg);
      transform: rotate(-120deg);
}
.menuItem__b--UG:nth-child(4) a {
  -ms-transform: rotate(-180deg);
      transform: rotate(-180deg);
}
.menuItem__b--UG:nth-child(5) a {
  -ms-transform: rotate(-240deg);
      transform: rotate(-240deg);
}
.menuItem__b--UG:nth-child(6) a {
  -ms-transform: rotate(-300deg);
      transform: rotate(-300deg);
}

.menuItem__b--UG {
  margin: auto;
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: -3rem;
  left: -1rem;
  opacity: 0;
  display: block;
  transition: 0.5s;
}

.menuItem__b--UG a {
  width: inherit;
  height: inherit;
  background-color: #f2f5ff;
  background-color: var(--white);
  border: 0.1rem solid #de3f53;
  border-color: var(--theme);
  border-radius: 50%;
  color: #f2f5ff;
  color: var(--white);
  font-size: 2.5rem;
  text-align: center;
  text-decoration: none;
  line-height: 5rem;
  display: block;
  cursor: pointer;
  pointer-events: none;
  transition: 0.2s;
}

.menuItem__b--UG a:hover {
  background-color: #ea8592;
  background-color: var(--theme-light);
  border: none;
  box-shadow: 0 0 0 2px #ea8592;
  box-shadow: 0 0 0 2px var(--theme-light);
  color: white;
  font-size: 2.8rem;
}

.about__DFHVS {
  padding: 1rem;
  width: 90%;
  position: absolute;
  top: 40vh;
  left: 5%;
  z-index: 100;
  background-color: #f2f5ff;
  background-color: var(--white);
  border-radius: 0.4rem;
}

.strapLine__2aaFj {
  width: 100%;
  position: absolute;
  top: 20vh;
  color: #f2f5ff;
  color: var(--white);
  font-family: "Titillium Web", "Open Sans", sans-serif;
  font-size: 2rem;
  text-align: center;
}

@media (min-width: 750px) {
  .about__DFHVS {
    width: 60%;
    left: 20%;
  }

  .strapLine__2aaFj {
    font-size: 3rem;
  }
}


/*# sourceMappingURL=ssr-bundle.0806a.css.map*/