---
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import {
  faUserAstronaut,
  faUserGraduate,
} from "@fortawesome/free-solid-svg-icons";
---

<div>
  <h2>Passing it forwards</h2>
  <p>
    At the start of my career I had some great mentors. As I've developed my
    skills and knowledge I have continued this tradition of passing it forwards.
  </p>
  <p>
    I've worked with many students, graduate, and junior developers as a mentor
    or coach. It has been a great honour to help and guide them as they've made
    their first steps in their journey in creating software.
  </p>
</div>
<div id="mentoring" class="diagram">
  <div class="multiple">
    <FontAwesomeIcon
      id="mentor"
      class="icon mentor-to-appear"
      fixedWidth
      icon={faUserAstronaut}
    />
    <FontAwesomeIcon
      id="mentee"
      class="icon mentor-to-appear"
      fixedWidth
      icon={faUserGraduate}
    />
  </div>
</div>

<script>
  const mentor = document.getElementById("mentor");
  const mentee = document.getElementById("mentee");

  const animateMentor = (entries) => {
    let shouldAnimate = false;
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        shouldAnimate = true;
      }
    });
    if (shouldAnimate) {
      mentor.classList.add("mentor");
      mentee.classList.add("mentee");
    } else {
      mentor.classList.remove("mentor");
      mentee.classList.remove("mentee");
    }
  };

  const mentorObserver = new IntersectionObserver(animateMentor);
  mentorObserver.observe(document.getElementById("mentoring"));
</script>

<style>
  .mentor-to-appear {
    opacity: 0;
  }

  .mentor {
    animation-name: mentor-arrive;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }

  .mentee {
    animation-name: mentee-arrive;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes mentor-arrive {
    0% {
      margin-right: 10rem;
      opacity: 0;
    }
    100% {
      margin-right: 2rem;
      opacity: 1;
    }
  }
  @keyframes mentee-arrive {
    0% {
      margin-left: 10rem;
      opacity: 0;
    }
    100% {
      margin-left: 2rem;
      opacity: 1;
    }
  }
</style>
