.icon {
  margin: 0 1rem;
  max-width: 7rem;
  border-radius: 0.2rem;
  transition: all ease 1s;
}

.icon::before {
  background-color: transparent;
}

.center {
  margin: 4rem auto;
  text-align: center;
}

.multiple {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.appear,
.appearLate {
  width: 0;
  opacity: 0;
  animation-name: flyon;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.appearLate {
  animation-delay: 1.5s;
}

@keyframes flyon {
  0% {
    margin-top: 10rem;
    width: 0;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    width: 7rem;
    opacity: 1;
  }
}
