:root {
  --theme: #de3f53;
  --theme2: #dfb2f4;
  --theme3: #f5e960;
  --theme4: #55d6c2;

  --white: #f2f5ff;
  --black: #534d41;

  --theme-light: #ea8592;
  --theme-dark: #7a1522;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Titillium+Web&display=swap");

* {
  box-sizing: border-box;
  font-family: "Open Sans", Tahoma, Geneva, Verdana, sans-serif;
  color: #534d41;
  color: var(--black);
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #de3f53;
  background-color: var(--theme);
  border-radius: 0.2rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7a1522;
  background-color: var(--theme-dark);
}
