<section class="hero">
  <slot />
</section>

<style>
  .hero {
    margin: 0;
    padding: 0;
    width: 105%;
    height: 110vh;
    position: relative;
    background-color: var(--secondary);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("/assets/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-width: 400px) {
    .hero {
      height: 100vh;
    }
  }

  @media (min-width: 768px) {
    .hero {
      width: 100%;
    }
  }
</style>
