<nav><a href="/">Home</a><a href="/blog">Blog</a></nav>

<style>
  nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  nav a {
    margin: 0;
    padding: 0.25rem 0.5rem;
    width: 5rem;
    border: 0.1rem solid white;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: all ease 0.3s;
  }

  nav a:hover {
    background-color: var(--highlight);
    color: black;
  }
</style>
