---
import { BsMouse } from "react-icons/bs";

export interface Props {
  href: string;
}
const { href } = Astro.props;
---

<a {href} class="scroll-down">
  <hr />
  <h5>scroll down</h5>
  <BsMouse className="scroll" />
  <hr />
</a>

<style>
  .scroll-down {
    position: absolute;
    right: 0;
    top: 60%;
    transform: rotate(90deg);
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 0.6rem;
  }

  .scroll-down * {
    color: white;
  }

  .scroll-down hr {
    width: 1.4rem;
    background-color: blue;
  }

  .scroll-down h5 {
    font-size: 1.1rem;
    font-weight: 100;
    text-transform: capitalize;
  }

  .scroll {
    transform: rotate(-90deg);
    fill: white;
  }
</style>
