---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { SkillItem } from "~/types";

const skills: Array<SkillItem> = [
  {
    title: "Collaboration",
    description:
      'Often the most difficult question to answer is "What do you want to see and do?". So throughout development I work closely with users to figure out what they need, demonstrating current work and eliciting feedback regularly.',
    icon: "mdi:handshake",
  },
  {
    title: "Architecture",
    description:
      "Throughout the numerous projects I've worked on, I've gained experience in designing and implementing a wide variety of different architectures. I embrace building modular components that are reusable, extensible, and easy to test.",
    icon: "mdi:code",
  },
  {
    title: "User-focused",
    description:
      "I've had the privilege to work in a range of companies in varied industries. I've created outstanding software aimed at wildly different audiences, from a single user to millions of concurrent users.",
    icon: "mdi:user",
  },
  {
    title: "Leadership",
    description:
      "The way we organise ourselves is just as important as the way we organise our systems and our code. When leading I've found that small, highly collaborative teams are the most effective. All of the teams that I have led have increased the speed, quality, and ambition of their work.",
    icon: "mdi:graph",
  },
  {
    title: "Learning",
    description:
      "At the start of my career I had some great mentors. As I've developed my skills and knowledge I have continued this tradition of passing it forwards.",
    icon: "mdi:school",
  },
  {
    title: "Mentorship",
    description:
      "I've worked with many students, graduates, and junior developers as a mentor or coach, helping them to progress their skills, knowledge, and career.",
    icon: "mdi:account-group",
  },
];
---

<ContentSection title="Skills" id="skills">
  <Fragment slot="lead">
    More <span class="text-primary">experience</span> than you can shake a stick
    at.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      skills.map(({ title, description, icon }) => (
        <li class="border-default bg-offset flex flex-col items-center gap-4 border p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center text-xl font-extrabold">{title}</p>
          <p class="text-offset text-left text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
